  .squid-box {
     width: 40px;
     height: 20px;
     text-align: center;
     color: white;
     line-height: 20px;
  }   
  .Yes { background: #3A9410; }   
  .No { background: #DE2810; }  

  #group-chart svg { width: 380px; }
  #squid-chart svg { width: 300px; }

  #time-chart .fadeout { fill-opacity: 0.05; }
  #time-chart .grid-line line {
     opacity: 0.4;
     stroke: #000000;
  }
  
  .header-active { background-color: #CCCCCC; }
  .header-active>.glyphicon {
     display: inline; 
     float: right;
  }
  
  .header-inactive { background-color: #FFFFFF; }
  .header-inactive>.glyphicon {
     display: none; 
     float: right;
  }

  .dc-chart h4 {
     margin-top: 0px;
     margin-bottom: 0px;
  }

