  .squid-yes {
     width: 40px;
     height: 20px;
  }

  .squid-yes rect {
     fill-opacity : 1;
     fill  : red;
     width : 100%;
     height : 100%;
  }

  .squid-yes text {
     fill : white;
     text-anchor: middle;
  }

  #group-chart svg { width: 380px; }
  #squid-chart svg { width: 300px; }

  #time-chart .fadeout { fill-opacity: 0; }
  #time-range-chart g.y { display: none; }
